.category-card{
  background:#fff; padding:7px; padding-bottom:15px; border-radius:20px;
  .cartoon-image{
    border-radius:15px;
    height:200px;
    width:100%;
    position: relative;
    overflow: hidden;
    img{
      height:100%;
      min-width: 100%;
    }
  }
  .cartoon-title{text-align:center; padding-top:5px; padding-bottom:5px;}
}
