.video-single{
  .likers {
    height: 33px;
    position: relative;
    padding-right: 40px;
    line-height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    &:before {
      display: block;
      content: ' ';
      background: url(../../theme/static/images/likers.png) no-repeat top;
      width: 33px;
      height: 33px;
      position: absolute;
      right: 0;
    }
    span{
      color:#db0200;
    }
  }
  .video-buttons {
    float: left;
    margin-top: 15px;
    .video-opt {
      margin: 8px;
    }
    .video-opt img {
      transition: all linear 0.1s;
    }
    .video-opt:hover img {
      transform: scale(1.2);
    }
  }
  .likers-name {
    color: #db0200;
    font-size: 14px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .hr-dotted {
    width: 100%;
    border-color: #cbcbcb;
    border-style: dashed;
    margin: 25px 0px;
  }
  .video-info {
    width: 100%;
    margin-bottom: 25px;
    .title{
      h3 {
        float: right;
        margin: 0px;
        text-transform: uppercase;
        span {
          font-size: 16px;
        }
      }
      div {
        float: left;
      }
    }
    .summary p {
      color: #474747;
      text-align: justify;
      line-height: 30px;
      font-size: 16px;
    }
  }
  .video-tabs{
    .nav-tabs{border:0 !important;}
    .tab-content {
      .tab-pane {
        background: #fff;
        border: 1px solid #eee;
        border-top-style: none;
        border-radius: 15px 0px 15px 15px;
        box-shadow: 0px 2px 0px #aaa8a8;
        min-height: 110px;
        padding:20px 5px 0 5px;
        .slick-dots{
          button::before{color:black}
        }
        .slick-slide {
          .item {
            margin: 0 5px;
            img {
              width: 100%;
            }
          }
        }
      }
    }

  }

  .nav-tabs{
    padding-right: 0px;
    & > li {
      float: right;
    }
  }

  .tab-content > .tab-pane {
    background: #fff;
  }

  .nav-tabs > li > a {
    margin-right: 0px;
    border-radius: 0px;
    border-bottom: 0;
  }

  .nav-tabs > li:nth-child(1) > a {
    border-radius: 0px 15px 0 0;
    border: 1px solid #eee;
  }

  .nav-tabs > li:nth-child(2) > a {
    border: 1px solid #eee;
    border-radius: 15px 0px 0 0;
  }

  .nav-tabs li a img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
  }

  .active a img {
    filter: none !important;
    -webkit-filter: none !important;
    -ms-filter: none !important;
    -moz-filter: none !important;
  }

  .tab-c-img {
    border-radius: 15px;
  }

  .tab-c-title {
    text-align: right;
    padding-top: 0px;
    padding-bottom: 5px;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 8px;
  }
}
